/* General */
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Playfair+Display');
html {
    background-color: #FDF8ED;
}
body {
    margin: 0;
    font-family: 'Nanum Gothic', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
}
button {
    height: 50px;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
    background-color: rgba(0,0,0,0);
    color: white;
    border: 2px solid white;
}
button:hover {
    color:#9FB18E;
    border-color: #9FB18E;
    background-color: white;
    transition: background 0.5s ease;
}
input:focus,
textarea:focus,
button:focus {
    outline: none;
}
input, textarea {
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #F0F0F0;
    color: #9FB18E;
    border: 0;
    height: 30px;
}
.container {
    max-width: 1100px;
    margin: auto;
}

/* Navigatoin */
nav {
    z-index: 100;
    background-color: white;
    display: table;
    width: 100%;
    position: fixed;
    height: 80px;
}
placeholder.nav-placeholder {
    width: 100%;
    display: block;
    height: 80px;
}
nav .nav-left, nav .nav-right {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}
nav ul {
    list-style: none;
    display: flex;
    padding-left: 0px;
}
nav .nav-right ul {
    justify-content: flex-end;
    margin: 21px 0;
}
nav ul li {
    padding: 10px 20px;
}
nav .nav-logo img {
    width: 120px;
    padding-left: 30px;
    position: fixed;
    top: 15px;
}
nav a {
    color: #9FB18E;
    text-decoration: none;
    font-size: 16px;
    font-size: 1em;
}
nav a:hover {
    color: #9FB18E;
    font-weight: 600;
}

/* Hero Component */
.hero-container {
    position: relative;
    width: 100%;
    height: 600px;
    background-image: url("../assets/home/temp.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-text-content {
    z-index: 2;
    width: 100%;
    margin: auto;
    color: white;
}
.hero-text-content h1 {
    font-size: 72px;
    font-size: 4.5em;
    line-height: 80px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 7px;/* Font specific styling for the borders */
    border-top: 5px white solid;
    border-bottom: 5px white solid;
}
.hero-text-content h2 {
    font-size: 48px;
    font-size: 3em;
    line-height: 40px;
    margin: 15px auto;
    text-align: center;
}
.hero-button {
    z-index: 2;
    width: 225px;
    margin: -100px auto 0;
    padding: 0 0 100px;
    text-align: center;
    text-transform: uppercase;
}
.img-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.25);
}

/* Complete your order */
.image-breakdown-container {
    background-image: url("../assets/home/image-breakdown.jpg");
    position: relative;
    width: 100%;
    height: 800px;
    background-position: center;
    background-size: cover;
}
.image-breakdown-header {
    color: #9FB18E;
    text-align: center;
    font-size: 48px;
    font-size: 3em;
    padding: 30px 0;
}
.breakdown-full {
    height: calc(50% - 140px);
    border-bottom: 40px solid #FDF8ED;
    padding-top: 100px;
    z-index: 2;
    position: relative;
}
.breakdown-wrapper {
    display: table;
    width: 100%;
    height: 50%;
}
.breakdown-one-half {
    width: calc(50% - 20px);
    height: 100%;
    display: inline-block;
    padding-top: 100px;
    position: relative;
    z-index: 2;
}
.breakdown-one-half.left {
    border-right: 20px solid #FDF8ED;
}
.breakdown-one-half.right {
    border-left: 20px solid #FDF8ED;
}
.image-breakdown-container h2 {
    color: white;
    text-align: center;
    font-size: 40px;
    font-size: 2.5em;
}
.image-breakdown-container .breakdown-button {
    width: 225px;
    margin: auto;
}
.breakdown-text, .breakdown-button {
    position: relative;
}

/* Steps */
.steps-section {
    padding-bottom: 60px;
    display: table;
    widows: 100%;
}
.steps-section h1 {
    text-align: center;
    color: #4A4A4A;
    font-size: 48px;
    font-size: 3em;
    padding: 30px 0;
}
.steps-right, .steps-left {
    vertical-align: top;
    width: calc(50% - 20px);
    display: inline-block;
}
.steps-right {
    padding-left: 20px;
}
.steps-left {
    padding-right: 20px;
}
.step-image img {
    max-width: 100%;
}
.step-image.pad-top {
    padding-top: 40px;
}
.step-image.pad-bottom {
    padding-bottom: 40px;
}
.step p {
    padding-bottom: 20px;
}
.step h2 {
    text-transform: capitalize;
    font-size: 40px;
    font-size: 2.5em;
    margin: 10px 0;
}

/* footer */
footer {
    height: 400px;
    background-color: #9FB18E;
    width: 100%;
}
footer textarea {
    width: 100%;
    height: 150px;
}
footer .footer-container {
    display: table;
    width: calc(100% - 100px);
    height: 100%;
    padding: 0px 50px;
}
footer h3 {
    color: white;
    font-size: 32px;
    font-size: 2em;
    text-transform: none;
    margin: 0;
}
footer label {
    color: white;
    text-transform: uppercase;
    padding-bottom: 2px;
    display: block;
}
footer .left h3 {
    padding-left: 10px;
}
footer .left-wrapper,
footer .right-wrapper {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    height: 100%;
}
footer .left,
footer .right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
footer .right {
    text-align: right;
    border-left: 1px solid white;
    height: calc(100% - 40px);
    margin: 20px 0;
}
footer .form-wrapper {
    width: 100%;
    max-width: 600px;
    display: table;
}
.footer-field-name {
    display: inline-block;
    width: calc(25% - 20px);
    padding: 10px;
}
.footer-field-name input {
    width: 100%;
}
.footer-field-email {
    display: inline-block;
    width: calc(50% - 20px);
    padding: 10px;
}
.footer-field-email input {
    width: 100%;
}
.footer-field-message {
    width: calc(100% - 20px);
    padding: 10px;
}
.footer-field-message label {
    display: block;
}
footer .social-container img {
    padding: 10px;
    vertical-align: middle;
}

/* Menu */
.menu.hero-container {
    height: 450px;
    background-image: url("../assets/menu/hero.jpg");
}

/* About */
.about.hero-container {
    height: 450px;
    background-image: url("../assets/about/hero.jpg");
}